/* setup instructions */
.setup-instructions {
  max-height: 128px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: max-height 0.7s;
}

.setup-instructions-transition {
  max-height: 1570px;
}
