<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{ISO8601} %-5p [%t] %20c{1} %M %X{X-Trace-Id} - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <AsyncRoot level="INFO">
            <AppenderRef ref="console"/>
        </AsyncRoot>
    </Loggers>

</Configuration>
