#!/bin/bash

# Tomcat and pod provisioning configurations

export INTEGRATION_BRIDGE_DOMAIN=".ngrok.io"
export INTEGRATION_BRIDGE_HOST=myid.ngrok.io
export SERVER_PORT=8080

export POD_HOST=foundation-dev.symphony.com
export POD_PORT=443
export AGENT_HOST=foundation-dev-api.symphony.com
export AGENT_PORT=443
export KEY_MANAGER_HOST=foundation-dev.symphony.com
export KEY_MANAGER_PORT=443
export KEY_MANAGER_AUTH_HOST=foundation-dev-api.symphony.com
export KEY_MANAGER_AUTH_PORT=443
export POD_SESSION_MANAGER_HOST=foundation-dev-api.symphony.com
export POD_SESSION_MANAGER_PORT=443

export APP_ID=zapier
export CERT_FILE=zapier.p12
export CERT_PWD=changeit
